.aboutus-section {
    position: relative;
    width: 100%;
    background-color: #fefcf7;
    padding: 100px 0px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: left;
  }
  
  .aboutus-content {
    margin-top: 150px;
    max-width: 1100px;
    width: 50%;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 30px;
    
  }
  .aboutus-div{
    display: flex;
    margin-right: 50px;
    padding-right: 30px;
  }
  .aboutus-div h2{
    display:flex;
    padding-right: 100px;
    text-align:start;
  }
  .aboutus-text h2 {   
    font-size: 2.8rem;
    color: #004d40;
    font-weight: 700;
    margin-bottom: 100px;
  }
  
  .aboutus-text p {
    font-size: 1.2rem;
    line-height: 1.6;
    margin-bottom: 30px;
    color: #1a1a1a;
    text-align: justify;
  }
  
  .know-more-btn {
    background-color: #ffc107;
    color: #004d40;
    font-weight: 700;
    font-size: 1rem;
    padding: 12px 30px;
    border: none;
    cursor: pointer;
    border-radius: 2px;
    margin-bottom: 30px;
    transition: all 0.3s ease;
  }
  
  .know-more-btn:hover {
    transform: scale(1.05);
  }
  
  .scrap-background {
    position: absolute;
    bottom: 0;
    right: -300px;
    width: 120%;
    z-index: 1;
    transform: translateY(50px);
    opacity: 0;
    transition: all 1.1s ease;
  }
  
  /* Animation when scrolled into view */
  .animate-text {
    opacity: 0;
    transform: translateY(30px);
    transition: all 1s ease;
  }
  
  .animate-text.show {
    opacity: 1;
    transform: translateY(0);
  }
  
  .scrap-background.show {
    opacity: 1;
    transform: translateY(0);
  }
  
  /* Responsive for Mobile */
  @media (max-width: 768px) {
    .aboutus-section {
      position: relative;
      width: 50%;
      background-color: #fefcf7;
      padding: 20px 20px;
      overflow: hidden;
      display: block;
      
      align-items: center;
      text-align: left;
    }
    .aboutus-text {
      text-align: center;
      width: 55%;
    }
    .aboutus-content {
      margin-top: 10px;
      max-width: 1100px;
      width: auto;
      z-index: 1;
      display: block;
      justify-content: center;
      gap: 20px;
      margin-bottom: 70px;
      
    }
    .aboutus-div{
      display: block;
      margin-right: 50px;
      padding-right: 30px;
    }
    .aboutus-text h2 {
      text-align: center;
      font-size: 2em;
    }
  
    .aboutus-text p {
      width: auto;
      text-align: justify;
      font-size: 1rem;
      justify-items: center;
    }
  
    .know-more-btn {
      font-size: 0.9rem;
      padding: 10px 25px;
      text-align: center;
      align-items: center;
      background-color: #ffc107;
      color: #004d40;
      font-weight: 700;
      font-size: 1rem;
      padding: 12px 30px;
      border: none;
      cursor: pointer;
      border-radius: 2px;
      margin-bottom: 30px;
      transition: all 0.3s ease;
    }
    .know-more-btn:hover {
      transform: scale(1.05);
    }
  
    .scrap-background {
      position: absolute;
      bottom: 0;
      right: -100px;
      width: auto;
      z-index: 1;
      transform: translateY(50px);
      opacity: 0;
      transition: all 1.1s ease;
    }
  }
  
  /* Responsive for Mobile */
  @media (max-width: 400px) {
    .aboutus-section {
      position: relative;
      width: 50%;
      background-color: #fefcf7;
      padding: 20px 20px;
      overflow: hidden;
      display: block;
      
      align-items: center;
      text-align: left;
    }
    .aboutus-text {
      text-align: center;
      width: 55%;
    }
    .aboutus-content {
      margin-top: 10px;
      max-width: 1100px;
      width: auto;
      z-index: 1;
      display: block;
      justify-content: center;
      gap: 20px;
      margin-bottom: 70px;
      
    }
    .aboutus-div{
      display: block;
      margin-right: 50px;
      padding-right: 30px;
    }
    .aboutus-text h2 {
      text-align: center;
      font-size: 2em;
    }
  
    .aboutus-text p {
      width: auto;
      text-align: justify;
      font-size: 1rem;
      justify-items: center;
    }
  
    .know-more-btn {
      font-size: 0.9rem;
      padding: 10px 25px;
      text-align: center;
      align-items: center;
      background-color: #ffc107;
      color: #004d40;
      font-weight: 700;
      font-size: 1rem;
      padding: 12px 30px;
      border: none;
      cursor: pointer;
      border-radius: 2px;
      margin-bottom: 30px;
      transition: all 0.3s ease;
    }
    .know-more-btn:hover {
      transform: scale(1.05);
    }
  
    .scrap-background {
      position: absolute;
      bottom: 0;
      right: 50px;
      width: auto;
      z-index: 1;
      transform: translateY(50px);
      opacity: 0;
      transition: all 1.1s ease;
    }
  }
  