.events-section {
    padding: 50px 40px;
    background-color: #004d4d;
    color: #ffffff;
    min-height: 200px;
  }
  .update-head{
    display: flex;
    gap: 90px;
    max-width: 1500px;
    margin: auto;
  }

  .update-head p{
    text-align: justify;
    justify-items: end;
    margin-left: 400px;

  }
  
  .events-heading {
    font-size: 3rem;
    margin-bottom: 60px;
    padding: -10px 3px 40px 20px;
    text-align:center;
    letter-spacing: 2px;
  }
  
  .highlight {
    color: #f5a100;
  }
  .para{
    font-size: 1.2rem;
    line-height: 1.9;
    max-width: 900px;
  }
  .events-container {
    display: flex;
    gap: 50px;
    width: 1450px;
    max-width: 1600px;
    flex-wrap: wrap;
  }
  
  .events-left, .events-right {
    flex: 1;
    min-width: 200px;
  }
  
  .event-card {
    background: #035c5c;
    padding: 20px;
    margin-bottom: 15px;
    cursor: pointer;
    border-left: 5px solid transparent;
    transition: 0.3s;
  }
  
  .event-card.active {
    border-left: 5px solid #f5a100;
  }
  
  .event-title {
    display: flex;
    justify-content: space-between;
    font-weight: bold;
    font-size: 1.1rem;
  }
  
  .event-description {
    margin-top: 10px;
    font-size: 0.95rem;
    color: #e0e0e0;
  }
  
  .learn-more {
    display: inline-block;
    margin-top: 10px;
    color: #f5a100;
    font-weight: bold;
    text-decoration: underline;
    font-size: 0.95rem;
  }
  
  .events-right {
    position: relative;
  }
  
  
  .event-slider img {
    width: 100%;
    height: 500px;
    border-radius: 5px;
    object-fit: cover;
  }
  
.custom-arrow {
    position: absolute;
    top: 100%;
    transform: translateY(-120%);
    z-index: 2;
    background: none;
    color: #f5a100;
    font-size: 25px;
    cursor: pointer;
  }
  
  .custom-arrow.prev {
    left: 15px;
  }
  
  .custom-arrow.next {
    right: 15px;
  }
  .slider-bottom {
    position: absolute;
    /* bottom: -7; */
    width: 100%;
    background: rgba(233, 218, 218, 0.4); /* light grey transparent */
    display: flex;
    margin-top: -46px;
    align-items: center;
    justify-content: center;
    height: 40px;
  }
  
  .slider-page {
    color: #fff;
    /* margin-top: -30px; */
    font-weight: bold;
    font-size: 18px;
  }
  
  @media (max-width: 768px) {
    .update-head {
        gap: 20px;
    }

    .events-heading {
        font-size: 2.2rem;
    }

    .para {
        font-size: 0.95rem;
    }

    .events-left, .events-right {
        max-width: 100%;
        padding: 0 10px;
    }

    .event-slider img {
        max-height: 250px;
    }

    .custom-arrow.prev {
        left: 10px;
    }

    .custom-arrow.next {
        right: 10px;
    }
}

@media (max-width: 400px) {
    .events-heading {
        font-size: 2rem;
    }

    .para {
        font-size: 0.9rem;
    }

    .event-title h3 {
        font-size: 1rem;
    }

    .slider-page {
        font-size: 1rem;
    }

    .custom-arrow {
        font-size: 20px;
    }
}