.highlights-section {
  background: linear-gradient(to bottom, #469f96 0%, #f8f8f8 100%);
  padding: -2px 2px -2px 20px;
  margin-left: 17%;
  margin-top: -100px;
  position: absolute;
  opacity: 0.9;
  z-index: 2;
}

.highlight-wrapper {
  max-width: 1100px;
  height: 211px;
  margin: 2px 5px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  background: transparent;
  border-radius: 10px;
  overflow: hidden;
  gap: 20px;
}

.highlight-card {
  flex: 1;
  min-width: 200px;
  display: flex;
  align-items: center;
  padding: 20px;
  position: relative;
}

.icon-text-wrapper {
  display: flex;
  align-items: flex-start;
  gap: 15px;
}

.highlight-card img {
  width: 50px;
  margin-top: 20px;
}

.text-content h4 {
  font-weight: 700;
  color: #066466;
  font-size: 1.2rem;
  margin-bottom: 8px;
}

.text-content p {
  font-size: 1rem;
  color: #0d715d;
  line-height: 1.5;
}
.divider {
  position: absolute;
  right: 0;
  top: 10%;
  height: 80%;
  width: 1px;
  background-color: #1a4d4a;
}
/* Responsive */
@media (max-width: 768px) {
  .highlight-wrapper {
    flex-direction: column;
    align-items: center;
  }

  .highlight-card {
    min-width: 100%;
    padding: 15px;
  }
}

/* Mobile Responsive */
@media (max-width: 400px) {
  .highlights-section{
    padding: 10px 30px 10px 10px;
    margin: 10px 30px 5px 10px;
    position: relative;
    width: 330px;
  }
  .highlight-wrapper{
    padding: 10px 0px;
    width: 300px;
    height: max-content;
    display: block;
  }
  .icon-text-wrapper {
    display: flex;
    align-items: flex-start;
  }
  .text-content h4 {
    font-size: 1rem;
  }

  .text-content p {
    font-size: 0.9rem;
  }

  .highlight-card {
    padding: 20px;
  }
}

